@import "../../scss/variables.scss";
@import "../../scss/animations.scss";


.btn {

  padding: 1rem 2rem;
  border: 2px solid;
  border-color: $secondary;
  border-radius: 18px;
  transition: all .1s;
  position: relative;
  animation-name: appear;
  animation-duration: 3s;
  text-transform: uppercase;
  letter-spacing: 1px;

  &-dark {
    background-color: $dark;
    color: $light;
  }

  &-light {
    background-color: $light;
    color: $dark;
  }

  &-secondary {
    background-color: $primary-full;
    color: $light;
  }
}

.btn:link,
.btn:visited {
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 5px 10px 20px rgba(0,0,0,0.4);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 5px 10px 5px rgba(0,0,0,0.3);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 18px;
  background-color: $dark;
  color: $light;
  border-color: $secondary;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s;

}

.btn:hover::after {
  transform: scale(2);
  opacity: 0;
}
