@import "../../scss/variables.scss";
@import "../../scss/animations.scss";
@import "../../scss/mixins.scss";

.local-area-main{
  background-color: $light;
  margin-top: -15vh;
  height: 105vh;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  padding-top: 15vh;
  color: $dark;


  @include responsive(phone) {
    margin-top: -20vh;
    height: auto;
    padding: 10rem 0;
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
  }
}

.row {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;


  @include responsive(tablet-portrait) {

  }

  @include responsive(phone) {
    flex-wrap: wrap;
  }





  h2 {
    font-family: $font-uchen;
    font-size: clamp(2rem, 7vw, 3rem);
  }
}

.column {

}

//.perspective{
//  perspective: 100rem;
//  //-moz-perspective: 100rem;
//}