@import "../../scss/variables.scss";
@import "../../scss/animations.scss";

.footer {
  width: 100%;
  height: 20vh;
  background-color: $dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;

  h5 {
    font-size: 1.2rem;
  }
}

