@import "../../scss/variables.scss";
@import "../../scss/animations.scss";
@import "../../scss/mixins.scss";

.explanation-section {
  min-height: 100vh;
  background-color: $secondary-bg;
  margin-top: -15vh;
  z-index: -103;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  padding-top: 3rem;

  @include responsive(desktop) {
    padding-bottom: 5rem;
  }





  :first-child {
    padding: 4rem 0 0 0;
    flex-direction: column;
    align-items: center;


    @include responsive(tablet-portrait) {
      padding: 2rem 0 0 0;
    }
  }

  .row {
    display: flex;
    justify-content: center;
    text-align: left;


    h2 {
      color: transparent;
      font-family: $font-uchen;
      letter-spacing: 4px;
      font-size: clamp(2.5rem, 3.5vw, 4rem);
      background-image: linear-gradient(to left, $dark, $primary-full);
      -webkit-background-clip: text;
    }

    .column {
      flex: 1;
      //background-color: aqua;
      color: $dark;
    }

  }

  .col-container {
    margin-top: 2rem;

    p {
      font-family: $font-monserrat;
      font-size: clamp(0.8rem, 1.9vw, 1.5rem);

      @include responsive(tablet-portrait) {
        line-height: 2.5;
      }

      @include responsive(phone) {
        line-height: 1.5;
      }



      &:not(:last-child) {
        margin-bottom: 1.2rem;
      }
    }

    h3 {
      font-size: clamp(1.1rem, 2.2vw, 1.8rem);
    }

    :first-child {
      margin-left: 5vw;
      padding-top: 0;

      h3 {
        margin: 0;

      }


    }
    :last-child {
      margin-right: 5vw;
    }
  }
}

//<editor-fold desc="button">

.btn-text {
  &:link,
  &:visited {
    color: $primary-full;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $primary-full;
    padding: 3px 6px;
    transition: ease-in 0.5s;
    position: relative;
    z-index: 1;
    font-size: clamp(1.5rem, 2vw, 2.2rem);

  }
  &:hover {
    color: white;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    transform: translateY(-3px);
  }

  &:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    content: "";
    background-color: $secondary;
  }

  &:hover:before {
    transition: 0.5s all ease;
    top: 0;
    bottom: 0;
    opacity: 1;
    z-index: -1;

  }

  &:active {
    transform: translateY(-1px);
  }

}

//</editor-fold>

//<editor-fold desc="pictures">

.images-container {
  max-width: 45vw;
  position: relative;

  @include responsive(tablet-portrait) {
    max-width: 100%;
  }


  &:hover .picture:not(:hover) {
    transform: scale(0.93);
  }


}

.picture {
  width: clamp(16rem, 20vw, 36rem);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .5);
  border-radius: 2px;
  position: absolute;
  transition: all .2s;
  outline-offset: 1rem;

  @include responsive(tablet-portrait) {
    width: 100%;
    position: static;
  }

  &--1 {
    left: 0;
    top: 0;
  }
  &--2 {
    right: -5rem;
    top: 2rem;
  }
  &--3 {
    left: 20%;
    top: 10rem;
  }

  &:hover {
    transform: scale(1.2);
    z-index: 4;
    outline: 1rem solid $secondary;
  }


}

//@media query for pictures

//</editor-fold>