@import "../../scss/variables.scss";
@import "../../scss/animations.scss";
@import "../../scss/mixins.scss";

.options-section {

  margin-top: -15vh;
  height: 95vh;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  position: relative;
  background-color: $primary-full;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @include responsive(tablet-portrait) {
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    padding: 10rem 0;
  }

  @include responsive(phone) {
    margin-top: -20vh;
  }


  &:hover .feature-box:not(:hover) {
    transform: scale(0.95);
  }
}

