@import "../../scss/variables.scss";
@import "../../scss/animations.scss";

.options-section {

  margin-top: -15vh;
  height: 95vh;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  position: relative;
  background-color: $primary-full;
  display: flex;
  align-items: center;
  justify-content: space-around;


  &:hover .feature-box:not(:hover) {
    transform: scale(0.95);
  }
}

