@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes turn {
  0% {
    rotate: 90deg;
    transform: rotateY(90deg);
  }

  100% {
    rotate: 0;
    transform: rotateY(0);
  }
}