//colour scheme
$primary: rgba(57, 91, 100, 0.21);
$primary-full: rgb(57, 91, 100);
$secondary: rgba(165, 201, 202, 0.53);
$secondary-bg: rgba(165, 201, 202, 0.19);
$secondary-full: rgb(165, 201, 202);
$dark: #2C3333;
//$light: #E7F6F2;
$light: #F0F8FF;

//fonts
$font-fredoka: 'Fredoka', sans-serif;
$font-indie-flower: 'Indie Flower', cursive;
$font-monserrat: 'Montserrat', sans-serif;
$font-uchen: 'Uchen', serif;