@import "../../scss/variables.scss";
@import "../../scss/animations.scss";

.nav-item{
    display: flex;
    width: 4.5rem;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 8%;
    left: 90%;
    z-index: 500;
}

.icon-button {
    --button-size: calc(var(--nav-size) *0.45);
    font-size: 2rem;
    width: 4.5rem;

    height: 4.5rem;
    border-radius: 50%;
    background-color: $primary-full;
    color: $light;
    padding: calc(var(--nav-size) *0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    transition: filter 300ms;

}

.icon-button:hover {
    filter: brightness(1.2);
    color: var(--bg);
    transform: scale(1.1);
}